<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
  <h4>Room Department</h4>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <%= link_to  new_room_path do %>
            <button type="button" class="btn btn-primary mb-3">
              ADD room
            </button>
          <% end %>

        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <% @rooms.each do |room| %>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="<%= room.image %>" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm"><%= room.availabilty %></div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"><%= room.room_no %></span> <span class="float-end price-hp">Rs.<%= room.price %></span> </div>
                        <h5 class="card-title">room description <%= link_to 'Show', room %>,<%= link_to  edit_room_path(room) do %><i class="fas fa-edit"></i><%end%>,<%= link_to  room, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="fas fa-trash-alt"></i><%end%></h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Book room</a> </div>
                    </div>
                </div>
            </div>
          <% end %>  
        </div>
    </div>
</main>
</div>



