<p id="notice"><%= notice %></p>

<p>
  <strong>Room no:</strong>
  <%= @room.room_no %>
</p>

<p>
  <strong>Availabilty:</strong>
  <%= @room.availabilty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @room.image %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
